* {
  margin:0; padding:0;
}

.logo {
  margin: 0 auto;
  width: 1000px;
  height: 667px;
  background-repeat: no-repeat;
  background: center;
  background-image: url(../logo_back.jpg);
  /* filter: blur(1px); */
}

.progress {
  margin: 0 auto;
  color: white;
  font-size: 60px;
  text-align: center;
  line-height: 200px;
}

.progress1 {
  margin: 0 auto;
  width: 1000px;
  height: 200px;
  color: red;
  background-color: gray;
  text-align: center;
  line-height: 100px;
}
