* {
  margin:0; padding:0;
}

body {
  background-color: #F2F2F2;
}

.count {
  margin: 0 auto;
  width: 1000px;
}

.header {
  margin: 0 auto;
  width: 1000px;
  height: 580px;
  background-repeat: no-repeat;
  background: center;
  background-image: url(../images/head_back.jpg);
  /* filter: blur(1px); */
}

.slide {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  color: #6f8e20;
  background-color: white;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  color: white;
  font-size: 60px;
  margin-left: 10px;
  margin-top: 5px;
  text-shadow: -1px -2px 3px #808080;
}

.about {
  display: inline-block;
  color: white;
  margin-left: 350px;
  font-size: 20px;
}

.menu {
  display: inline-block;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

.concept {
  margin: 0 auto;
  color: white;
  font-size: 50px;
  text-align: left;
  line-height:900px;
  margin-left: 50px;
  text-shadow: -1px -2px 3px #808080;
  font-family: fantasy;
}

.progress {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  color: #6f8e20;
  background-color: white;
  text-align: center;
  line-height: 65px;
}

.progress_menu {
  margin: 0 auto;
  width: 1000px;
  height:1100px;
  color: #6f8e20;
  background-color: white;
  text-align: center;
  line-height: 60px;
}

.table {
  margin-left: 200px;
}

.table_adress {
  margin-left: 300px;
}

.progress1 {
  margin: 0 auto;
  width: 1000px;
  height: 700px;
  color: #6f8e20;
  background-color: #F2F2F2;
  text-align: center;
  line-height: 80px;
}

.progress2 {
  margin: 0 auto;
  width: 1000px;
  height:600px;
  color: #6f8e20;
  background-color: white;
  text-align: center;
  line-height: 80px;
}

.progress3 {
  margin: 0 auto;
  width: 1000px;
  height:1200px;
  color: #6f8e20;
  background-color: #F2F2F2;
  text-align: center;
  line-height: 80px;
}

.road_to_open {
  margin: 0 auto;
  width: 1000px;
  height:200px;
  color: #6f8e20;
  background-color: #F2F2F2;
  text-align: center;
  line-height: 80px;
}

.map {
  margin: 0 auto;
  width: 500px;
  height: 364px;
  background-color: white;
}
#target {
    width: 500px;
    height: 300px;
}

.loop_wrap {
  margin: 0 auto;
  width: 1000px;
  height: 400px;
  text-align: center;
}

.album {
  margin: 0 auto;
  margin-top: 100px;
  width: 300px;
  height: 700px;
  color: #6f8e20;
  background-color: #F2F2F2;
  text-align: center;
}

h1 {
  font-family: fantasy;
}

h3 {
  color: red;
}

td {
  line-height: 2;
}

.line {
  text-decoration: line-through;
}

.header {
  font-family: fantasy;
}

.blinking{
  color: red;
  animation-name: blink; /* アニメーションの名前を設定 */
  animation-duration: 3s; /* アニメーションの秒数を設定 */
  animation-iteration-count: infinite; /* 繰り返しを設定（１回だけなら不要） */
}

.blinking1{
  color: red;
}

@keyframes blink{ /*上記で設定したアニメーションの動作を指定 */
    0% {opacity:1;} /* 1.2s中の動作開始時間を%で指示 */
    50% {opacity:0;} /* 同上 */
}
